/* css style file */
h1 {
 text-align: left;
 margin-top: 50px;
 margin-left: 2em;
 font-family: OCR A Std, monospace;
 font-size: 50px;
}

body {
	background-color: black;
	color: white;
	font-family: Arial;

}

#container{
  /*background-color: red;*/
  display: flex;
  flex-flow: row;
}

/** text-container is an alternative to the playboard **/
.text-container{
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 900px;
  padding: 5em;
  font-size: 30px;
}

.mini-text-container{
  display: flex;
  flex-direction: column;
  /*height: 450px;
  width: 900px;*/
  /*padding: 5em;*/
  font-size: 30px;
}

.tutorial-box{
  /*background-color: #008033;*/
  /*text-align: center;*/
  padding: 20px;
  /*font-size: 30px;*/
  display: flex;
  flex-direction: row;
}

.tutorial-text{
  padding: 1em;
}

.proto-start-field{
  background-color: #8000ff; /*#ff6600;*/
  width: 90px;
  height: 90px;
}

.proto-end-field{
  background-color: #00ff00 ; /* #ff0000;*/
  width: 90px;
  height: 90px;

}

.proto-point-field{
  background-color: #2DE2E6; /* #0000e6;*/
  width: 90px;
  height: 90px;
}




.grid-container {
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  /*grid-gap: 2px;*/
  background-color: #FF2079; /* #00b354;*/
  /*border: 2px solid yellow;*/ /* for testing */
  padding: 10px;
  height: 900px;
  width: 900px;

}

.grid-container > div {
  /*background-color: #008033;*/
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item {
  background-color: #0D0221; /*#713df5; */ /*#008033;*/
}

.start-field{
  background-color: #8000ff; /*#ff6600;*/
}

.end-field{
  background-color: #00ff00 ; /* #ff0000;*/
}

.point-field{
  background-color: #2DE2E6; /* #0000e6;*/
}

.cut-out-field{
  background-color: #FF2079; /*#440bd4;*/
}

.path-field{
  background-color:  #fef900 ;
}

.left-side, .right-side{
  min-width: 10%;
  margin: auto;
}

.button{
  padding: auto;
  margin: auto;
  display: inline-block;
  
  background-color: white; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}


/* * * * * * * * * * * * * * * * * 
* special colors for final level *
* * * * * * * * * * * * * * * * */

.final-start-field{
 background-color: #fff;
}
.final-end-field{
 background-color: #b30000;
}
.final-point-field{
 background-color: #990073;
}
.final-cut-out-field{
  background-color: #000;
}
.final-path-field{
  background-color: #fff;
}

.final-border{
  background-color: #ff0000;
}

.final-item{
  background-color: #69871324;
}



/* special css for better alert boxes 
source: https://html-css-js.com/css/generator/text-shadow/ */
#confirm {
  display: none;
  background-color: #0D0221;
  opacity: 100%;
  color: white;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  border: 4px ;
  position: fixed;
  width: 450px;
  height: 200px;
  left: 40%;
  top: 40%;
  box-sizing: border-box;
  text-align: center;
  outline:none;
       border-color:#F148FB;
       box-shadow:0 0 10px #F148FB;

}
#confirm button {
  background-color: #0D0221;
  display: inline-block;
  border-radius: 12px;
  border: 4px;
  padding: 8px;
  text-align: center;
  width: 60px;
  cursor: pointer;
  outline:none;
       border-color:#F148FB;
       box-shadow:0 0 10px #F148FB;
   color: #F148FB;
   text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}
#confirm .message {
  margin: 3em auto;
  /*text-align: left;*/
}