/* css style file */
h1 {
 text-align: left;
 margin-top: 50px;
 margin-left: 2em;
 font-family: OCR A Std, monospace;
 font-size: 50px;
}

body {
	background-color: black;
	color: white;
	font-family: Arial;

}

#container{
  /*background-color: red;*/
  display: flex;
  flex-flow: row;
}

.grid-container {
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  /*grid-gap: 2px;*/
  background-color: #00b354;
  /*border: 2px solid yellow;*/ /* for testing */
  padding: 10px;
  height: 900px;
  width: 900px;

}

.grid-container > div {
  /*background-color: #008033;*/
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item {
  background-color: #008033;
}

.start-field{
  background-color: #ff6600;
}

.end-field{
  background-color: #ff0000;
}

.point-field{
  background-color: #0000e6;
}

.cut-out-field{
  background-color: #00b354;
}

.path-field{
  background-color: #d7dadc;
}

.left-side, .right-side{
  min-width: 10%;
  margin: auto;
}

.button{
  padding: auto;
  margin: auto;
  display: inline-block;
  
  background-color: white; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}


/* Wurde übernommen und angepasst von: https://www.w3schools.com/css/css_grid_item.asp; */