/* css style file */
h1 {
 text-align: center;
 margin-top: 50px;
 font-family: OCR A Std, monospace;
 font-size: 50px;
}

body {
	background-color: black;
	color: white;
	font-family: Arial;

}

#container{
  /*border: 2px solid red;*/
}

.grid-container {
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  grid-gap: 2px;
  background-color: #00b354;
  padding: 10px;
  height: 900px;
  width: 900px;

}

.grid-container > div {
  background-color: #008033;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item {
	background-color: #00b354;
}

.item8 {
  grid-area: 2 / 2 / 4 / 4;
}

.item10 {
grid-area: 2 / 5 / 4 / 7;
}

.item16 {
grid-area: 2 / 10 / 4 / 8;
}

.itemx {
  grid-area: 7 / 2 / 5 / 4;
}

.itemc {
grid-area: 7 / 5 / 5 / 7;
}

.itemv {
grid-area: 7 / 10 / 5 / 8;
}

.itemz {
  grid-area: 10 / 2 / 8 / 4;
}

.itema {
grid-area: 10 / 5 / 8 / 7;
}

.items {
grid-area: 10 / 10 / 8 / 8;
}

/* Wurde übernommen und angepasst von: https://www.w3schools.com/css/css_grid_item.asp; */