body {
	background-color: black;
	color: white;
	font-family: Monospace, Arial;
}

h1 {
 text-align: left;
 margin-left: 2em;
 font-family: Monospace, Arial;
 font-size: 50px;
}

/** REMARK !
 * all sections dubbed "fancy adaptions"
 * have been based on this source: 
 * https://html-css-js.com/css/generator/text-shadow/
 */

#level-counter {
  font-family: Monospace, Arial;
  text-align: center;
  font-size: 15px; 
  background-color: #0D0221;
  /* fancy adaptions . start */
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #FF2079, 0 0 30px #FF2079, 0 0 40px #FF2079, 0 0 55px #FF2079, 0 0 75px #FF2079;
  outline:none;
       border-color: #F148FB;
       box-shadow: 0 0 16px #F148FB;
  /* fancy adaptions . end */
  border-radius: 8px;  
}

#container{
  display: flex;
  flex-flow: row;
}

/** text-container is an alternative view to the playboard **/
.text-container{
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 900px;
  padding: 5em;
  font-size: 30px;
}

.mini-text-container{
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.tutorial-box{
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.tutorial-text{
  padding: 1em;
}

.proto-start-field{
  background-color: #00ff00 ;
  min-width: 90px;
  min-height: 90px;
  max-height: 90px; /* otherwise gets strechted because of long text in tutorial */

  /* fancy adaptions . start */
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  outline:none;
    border-color:#F148FB;
    box-shadow:0 0 10px #F148FB;
  /* fancy adaptions . end */
}

.proto-end-field{
  background-color: #8000ff;
  min-width: 90px;
  min-height: 90px;
  max-height: 90px; /* otherwise gets strechted because of long text in tutorial */

  /* fancy adaptions . start */
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  outline:none;
    border-color:#F148FB;
    box-shadow:0 0 10px #F148FB;
  /* fancy adaptions . end */
}

.proto-point-field{
  background-color: #2DE2E6;
  min-width: 90px;
  min-height: 90px;
  max-height: 90px; /* otherwise gets strechted because of long text in tutorial */

  /* fancy adaptions . start */
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  outline:none;
    border-color:#F148FB;
    box-shadow:0 0 10px #F148FB;
  /* fancy adaptions . end */
}

.not-a-tutorial-box{
  margin: auto;
  padding: 2em;
  text-align: justify;
  text-justify: inter-word;

    /* fancy adaptions . start */
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #FF2079, 0 0 30px #FF2079, 0 0 40px #FF2079, 0 0 55px #FF2079, 0 0 75px #FF2079;
    outline:none;
      border-color:#F148FB;
      box-shadow:0 0 10px #F148FB;
    /* fancy adaptions . end */
}

.mini-proto-start-field{
  background-color: #00ff00 ;
  min-width: 45px;
  min-height: 45px;

  /* fancy adaptions . start */
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  outline:none;
    border-color:#F148FB;
    box-shadow:0 0 10px #F148FB;
  /* fancy adaptions . end */
}

.mini-proto-end-field{
  background-color: #8000ff;
  min-width: 45px;
  min-height: 45px;

  /* fancy adaptions . start */
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  outline:none;
    border-color:#F148FB;
    box-shadow:0 0 10px #F148FB;
  /* fancy adaptions . end */
}

.mini-proto-point-field{
  background-color: #2DE2E6; 
  min-width: 45px;
  min-height: 45px;

  /* fancy adaptions . start */
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  outline:none;
    border-color:#F148FB;
    box-shadow:0 0 10px #F148FB;
  /* fancy adaptions . end */
}

.mini-tutorial-text{
  padding: 0.5em;
}

.grid-container {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  background-color: #FF2079;
  overflow: hidden;
  padding: 10px;
  width: 580px;
  height: 580px;
  min-width: 0;
  max-width: 100%;
  min-height: 0;
  max-height: 100%;


  /* min-height:  780px; min-width: 780px; */

  /* fancy adaptions . start */
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  outline:none;
    border-color:#F148FB;
    box-shadow:0 0 10px #F148FB;
  /* fancy adaptions . end */

}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item {
  background-color: #0D0221;
  /* fancy adaptions . start */
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  outline:none;
    border-color:#F148FB;
    box-shadow:0 0 10px #F148FB;
  /* fancy adaptions . end */
}

.start-field{
  background-color: #00ff00 ;

  /* fancy adaptions . start */
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  outline:none;
    border-color:#F148FB;
    box-shadow:0 0 10px #F148FB;
  /* fancy adaptions . end */
}

.end-field{
  background-color: #8000ff;
  /* fancy adaptions . start */
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  outline:none;
    border-color:#F148FB;
    box-shadow:0 0 10px #F148FB;
  /* fancy adaptions . end */
}

.point-field{
  background-color: #2DE2E6;
  /* fancy adaptions . start */
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  outline:none;
    border-color:#F148FB;
    box-shadow:0 0 10px #F148FB;
  /* fancy adaptions . end */
}

.cut-out-field{
  background-color: #FF2079;
  /* fancy adaptions . start */
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  outline:none;
    border-color:#F148FB;
    box-shadow:0 0 10px #F148FB;
  /* fancy adaptions . end */
}

.path-field{
  background-color:  #fef900 ;
  /* fancy adaptions . start */
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  outline:none;
    border-color:#F148FB;
    box-shadow:0 0 10px #F148FB;
  /* fancy adaptions . end */
}

.left-side, .right-side{
  min-width: 10%;
  margin: auto;
}

.button{
  padding: auto;
  margin: auto;
  display: inline-block;
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
 .small-text{
   font-size: 16px;
 }

/* * * * * * * * * * * * * * * * * 
* special colors for final level *
* * * * * * * * * * * * * * * * */

.final-start-field{
 background-color: #fff;
}
.final-end-field{
  background-color: #ff0;
  outline:none;
    border-color: #ff0;
    box-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}
.final-point-field{
 background-color: #990073;
}
.final-cut-out-field{
  background-color: #000;
}
.final-path-field{
  background-color: #fff;
}

.final-border{
  background-color: #ff0000;
}

.final-item{
  background-color: #69871324;
}

#reload-board-button, #start-game-button, #next-level-button, #test-game-button, #show-leaderboard-button{
  background-color: #0D0221;
  /* fancy adaptions . start */
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #FF2079, 0 0 30px #FF2079, 0 0 40px #FF2079, 0 0 55px #FF2079, 0 0 75px #FF2079;
  outline:none;
       border-color: #F148FB;
       box-shadow: 0 0 16px #F148FB;
  /* fancy adaptions . end */
  color: white;
  border-radius: 8px;
  font-size: 20px;
}

#show-leaderboard-button{
  margin-top: 30px;
}

/** REMARK!
 * "confirm" CSS based on source: 
 * https://www.tutorialspoint.com/How-to-create-and-apply-CSS-to-JavaScript-Alert-box
 */
.confirm-box {
  display: none;
  background-color: #0D0221;
  opacity: 100%;
  color: white;
  border: 4px ;
  position: fixed;
  width: 450px;
  height: 200px;
  left: 40%;
  top: 40%;
  box-sizing: border-box;
  text-align: center;
  /* fancy adaptions . start */
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  outline:none;
       border-color:#F148FB;
       box-shadow:0 0 20px #F148FB;
  /* fancy adaptions . end */
}

#confirm button {
  background-color: #0D0221;
  display: inline-block;
  border-radius: 8px;
  border: 4px;
  padding: 8px;
  text-align: center;
  width: 60px;
  cursor: pointer;
  /* fancy adaptions . start */
  outline:none;
       border-color:#F148FB;
       box-shadow:0 0 10px #F148FB;
   color: white;
   text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #FF2079, 0 0 30px #FF2079, 0 0 40px #FF2079, 0 0 55px #FF2079, 0 0 75px #FF2079;
  /* fancy adaptions . end */
  font-weight: bold;
}

#confirm .message {
  margin: 3em auto 2em auto;
}

/* * * * * * * * * * * * * * * * * * * * *
 *  special alert colors for final level *
 * * * * * * * * * * * * * * * * * * * * */
.red-alert{
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 55px #ff0000, 0 0 75px #ff0000;
  outline:none;
    border-color:#F148FB;
    box-shadow:0 0 10px #F148FB;
}

.golden-alert{
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #ff0, 0 0 30px #ff0, 0 0 40px #ff0, 0 0 55px #ff0, 0 0 75px #ff0; 
}


/* * * * * * * * * * * * * * * * * * * * *
 *design for player input and leaderboard*
 * * * * * * * * * * * * * * * * * * * * */


 /* design for form */

label {
    width: 15em;
    display: block;
    margin-top: 15px;
    font-size: 20px;
}

 /* keeps the layout of the form to the left and in order. */


legend {
  font-size: 30px;
}


#submit-button {
  background-color: #ff0;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #FF2079, 0 0 30px #FF2079, 0 0 40px #FF2079, 0 0 55px #FF2079, 0 0 75px #FF2079;
  outline:none;
       border-color: #F148FB;
       box-shadow: 0 0 16px #F148FB;
  color: black;
  border-radius: 8px;
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: auto;
}

 /* The same button like the others, just with a diffrent back-ground color. */


#initialPlayerName, #initialMessageInput, #initialEmojiInput {
  background-color: #ff0;
  font-size: 15px;
  margin-top: 15px;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #FF2079, 0 0 30px #FF2079, 0 0 40px #FF2079, 0 0 55px #FF2079, 0 0 75px #FF2079;
  border-color: #F148FB;
  box-shadow: 0 0 16px #F148FB;
}

 /* Changes the color of the fields to golden with different shadow effects. */


fieldset {
  background-color: black;
  font-size: 15px;
  margin-top: 15px;
  color:  white;
  border: 0px; /* Keeping the border at 0px makes the border of the fieldset invisible. */
}

option {
  margin-top: 8px;
  list-style-type: none;
  list-style-position: inside;
  height: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#custom-select select option{
  display:inline-block; /* This allows the emojis to be displayed horizontally. The basis was taken from: https://www.w3schools.com/css/css_inline-block.asp */
}

 
select {
  overflow-y: auto; /* This takes away the scrollbar of the select field. The basis was taken from: https://www.w3schools.com/cssref/css3_pr_overflow-y.asp */
}



 /* design for leaderboard */


.own-button { 
  background-color:   #FFD700;
  text-shadow: 0 0 5px #FFD700, 0 0 15px #FFD700, 0 0 20px #FFD700, 0 0 20px #FF2079, 0 0 30px #FF2079, 0 0 40px #FF2079, 0 0 55px #FF2079, 0 0 75px #FF2079;
  outline:none;
       border-color: #FF3131;
       box-shadow: 0 0 16px #FF3131;
  color: black;
  border-radius: 8px;
  font-size: 20px;
  align-content: center;
  font-weight: bold;
  margin-bottom: 15px;
  margin-left: auto;
}

.owned-button {
  background-color:   #ff0000;
  text-shadow: 0 0 5px #FFD700, 0 0 15px #FFD700, 0 0 20px #FFD700, 0 0 20px #FF2079, 0 0 30px #FF2079, 0 0 40px #FF2079, 0 0 55px #FF2079, 0 0 75px #FF2079;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: black;
  flex-direction: row;
  width: auto;
  justify-content: center;
}  

.flex-container > div {
  background-color: black;
  text-align: center;
  line-height: 30px;
  font-size: 25px;
  border-bottom: 3px solid white;
} /* These are the titles for the leaderboard and are based on old arcade highscore boards. The basis was taken from: https://www.w3schools.com/css/css3_flexbox_container.asp*/

.flex-container1 {
  display: flex;
  flex-wrap: nowrap;
  background-color: black;
  flex-direction: row;
}


span {
  text-align: center;
  line-height: 35px;
  font-size: 20px;
} /* Used for centering the results of the games and API's. */


.playerName, .Message, .emojiLeaderboard, .playtimeforGame, .ownAplayer {
 width: 180px;
} 

.coatOfArms, .playerTitle, .commandment, .recordedPlaytime, .own-button, .top-player{
  width:  180px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
} /* This is used to align the elements of the leaderboard. */

.coatOfArms, .playerTitle, .commandment, .recordedPlaytime {
margin-top: 23px;
} /* This specific margin is used to align the text of the results with the text of the own-button. */

#leaderboardtext1, #leaderboardtext2{
  font-size: 20px;
}

.top-player{
  background-color: #ff0;
  outline:none;
    border-color: #ff0;
    box-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -10px 40px #F00;
  text-shadow: 0;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bolder;
  color: black;
}