body {
	background-color: black;
	color: white;
	font-family: Monospace, Arial;
}

h1 {
 text-align: left;
 margin-left: 2em;
 font-family: Monospace, Arial;
 font-size: 50px;
}

/** REMARK !
 * all sections dubbed "fancy adaptions"
 * have been based on this source: 
 * https://html-css-js.com/css/generator/text-shadow/
 */

#level-counter {
  font-family: Monospace, Arial;
  text-align: center;
  font-size: 15px; 
  background-color: #0D0221;
  /* fancy adaptions . start */
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #FF2079, 0 0 30px #FF2079, 0 0 40px #FF2079, 0 0 55px #FF2079, 0 0 75px #FF2079;
  outline:none;
       border-color: #F148FB;
       box-shadow: 0 0 16px #F148FB;
  /* fancy adaptions . end */
  border-radius: 8px;  
}

#container{
  display: flex;
  flex-flow: row;
}

/** text-container is an alternative view to the playboard **/
.text-container{
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 900px;
  padding: 5em;
  font-size: 30px;
}

.mini-text-container{
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.tutorial-box{
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.tutorial-text{
  padding: 1em;
}

.proto-start-field{
  background-color: #00ff00 ;
  min-width: 90px;
  min-height: 90px;
  max-height: 90px; /* otherwise gets strechted because of long text in tutorial */

  /* fancy adaptions . start */
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  outline:none;
    border-color:#F148FB;
    box-shadow:0 0 10px #F148FB;
  /* fancy adaptions . end */
}

.proto-end-field{
  background-color: #8000ff;
  min-width: 90px;
  min-height: 90px;
  max-height: 90px; /* otherwise gets strechted because of long text in tutorial */

  /* fancy adaptions . start */
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  outline:none;
    border-color:#F148FB;
    box-shadow:0 0 10px #F148FB;
  /* fancy adaptions . end */
}

.proto-point-field{
  background-color: #2DE2E6;
  min-width: 90px;
  min-height: 90px;
  max-height: 90px; /* otherwise gets strechted because of long text in tutorial */

  /* fancy adaptions . start */
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  outline:none;
    border-color:#F148FB;
    box-shadow:0 0 10px #F148FB;
  /* fancy adaptions . end */
}

.not-a-tutorial-box{
  margin: auto;
  padding: 2em;
  text-align: justify;
  text-justify: inter-word;

    /* fancy adaptions . start */
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #FF2079, 0 0 30px #FF2079, 0 0 40px #FF2079, 0 0 55px #FF2079, 0 0 75px #FF2079;
    outline:none;
      border-color:#F148FB;
      box-shadow:0 0 10px #F148FB;
    /* fancy adaptions . end */
}

.mini-proto-start-field{
  background-color: #00ff00 ;
  min-width: 45px;
  min-height: 45px;

  /* fancy adaptions . start */
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  outline:none;
    border-color:#F148FB;
    box-shadow:0 0 10px #F148FB;
  /* fancy adaptions . end */
}

.mini-proto-end-field{
  background-color: #8000ff;
  min-width: 45px;
  min-height: 45px;

  /* fancy adaptions . start */
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  outline:none;
    border-color:#F148FB;
    box-shadow:0 0 10px #F148FB;
  /* fancy adaptions . end */
}

.mini-proto-point-field{
  background-color: #2DE2E6; 
  min-width: 45px;
  min-height: 45px;

  /* fancy adaptions . start */
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  outline:none;
    border-color:#F148FB;
    box-shadow:0 0 10px #F148FB;
  /* fancy adaptions . end */
}

.mini-tutorial-text{
  padding: 0.5em;
}

.grid-container {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  background-color: #FF2079;
  overflow: hidden;
  padding: 10px;
  width: 580px;
  height: 580px;
  min-width: 0;
  max-width: 100%;
  min-height: 0;
  max-height: 100%;


  /* min-height:  780px; min-width: 780px; */

  /* fancy adaptions . start */
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  outline:none;
    border-color:#F148FB;
    box-shadow:0 0 10px #F148FB;
  /* fancy adaptions . end */

}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item {
  background-color: #0D0221;
  /* fancy adaptions . start */
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  outline:none;
    border-color:#F148FB;
    box-shadow:0 0 10px #F148FB;
  /* fancy adaptions . end */
}

.start-field{
  background-color: #00ff00 ;

  /* fancy adaptions . start */
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  outline:none;
    border-color:#F148FB;
    box-shadow:0 0 10px #F148FB;
  /* fancy adaptions . end */
}

.end-field{
  background-color: #8000ff;
  /* fancy adaptions . start */
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  outline:none;
    border-color:#F148FB;
    box-shadow:0 0 10px #F148FB;
  /* fancy adaptions . end */
}

.point-field{
  background-color: #2DE2E6;
  /* fancy adaptions . start */
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  outline:none;
    border-color:#F148FB;
    box-shadow:0 0 10px #F148FB;
  /* fancy adaptions . end */
}

.cut-out-field{
  background-color: #FF2079;
  /* fancy adaptions . start */
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  outline:none;
    border-color:#F148FB;
    box-shadow:0 0 10px #F148FB;
  /* fancy adaptions . end */
}

.path-field{
  background-color:  #fef900 ;
  /* fancy adaptions . start */
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  outline:none;
    border-color:#F148FB;
    box-shadow:0 0 10px #F148FB;
  /* fancy adaptions . end */
}

.left-side, .right-side{
  min-width: 10%;
  margin: auto;
}

.button{
  padding: auto;
  margin: auto;
  display: inline-block;
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}


/* * * * * * * * * * * * * * * * * 
* special colors for final level *
* * * * * * * * * * * * * * * * */

.final-start-field{
 background-color: #fff;
}
.final-end-field{
  background-color: #ff0;
  outline:none;
    border-color: #ff0;
    box-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}
.final-point-field{
 background-color: #990073;
}
.final-cut-out-field{
  background-color: #000;
}
.final-path-field{
  background-color: #fff;
}

.final-border{
  background-color: #ff0000;
}

.final-item{
  background-color: #69871324;
}

#reload-board-button, #start-game-button, #next-level-button, #test-game-button{
  background-color: #0D0221;
  /* fancy adaptions . start */
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #FF2079, 0 0 30px #FF2079, 0 0 40px #FF2079, 0 0 55px #FF2079, 0 0 75px #FF2079;
  outline:none;
       border-color: #F148FB;
       box-shadow: 0 0 16px #F148FB;
  /* fancy adaptions . end */
  color: white;
  border-radius: 8px;
  font-size: 20px;
}

/** REMARK!
 * "confirm" CSS based on source: 
 * https://www.tutorialspoint.com/How-to-create-and-apply-CSS-to-JavaScript-Alert-box
 */
.confirm-box {
  display: none;
  background-color: #0D0221;
  opacity: 100%;
  color: white;
  border: 4px ;
  position: fixed;
  width: 450px;
  height: 200px;
  left: 40%;
  top: 40%;
  box-sizing: border-box;
  text-align: center;
  /* fancy adaptions . start */
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  outline:none;
       border-color:#F148FB;
       box-shadow:0 0 20px #F148FB;
  /* fancy adaptions . end */
}

#confirm button {
  background-color: #0D0221;
  display: inline-block;
  border-radius: 8px;
  border: 4px;
  padding: 8px;
  text-align: center;
  width: 60px;
  cursor: pointer;
  /* fancy adaptions . start */
  outline:none;
       border-color:#F148FB;
       box-shadow:0 0 10px #F148FB;
   color: white;
   text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #FF2079, 0 0 30px #FF2079, 0 0 40px #FF2079, 0 0 55px #FF2079, 0 0 75px #FF2079;
  /* fancy adaptions . end */
  font-weight: bold;
}

#confirm .message {
  margin: 3em auto 2em auto;
}

/* * * * * * * * * * * * * * * * * * * * *
 *  special alert colors for final level *
 * * * * * * * * * * * * * * * * * * * * */
.red-alert{
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 55px #ff0000, 0 0 75px #ff0000;
  outline:none;
    border-color:#F148FB;
    box-shadow:0 0 10px #F148FB;
}

.golden-alert{
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #ff0, 0 0 30px #ff0, 0 0 40px #ff0, 0 0 55px #ff0, 0 0 75px #ff0; 
}
